mixin imagePNG(name, width, location)
		img(src=require(`./assets/image/${name}.png`) title=name alt=name width=width class="" + location)
mixin imageJPG(name, width, location)
		img(src=require(`./assets/image/${name}.jpg`) title=name alt=name width=width class="" + location)
mixin imageJPEG(name, width, location)
		img(src=require(`./assets/image/${name}.jpeg`) title=name alt=name width=width class="" + location)
mixin imageSVG(name, width, location)
		img(src=require(`./assets/image/${name}.svg`) title=name alt=name width=width class="" + location)
mixin imageGIF(name, width, location)
		img(src=require(`./assets/image/${name}.gif`) title=name alt=name width=width class="" + location)