mixin imagePNG(name, width)
		img(src=require(`../../assets/image/${name}.png`) title=name alt=name width=width)
mixin imageJPG(name, width)
		img(src=require(`../../assets/image/${name}.jpg`) title=name alt=name width=width)
mixin imageJPEG(name, width)
		img(src=require(`../../assets/image/${name}.jpeg`) title=name alt=name width=width)
mixin imageSVG(name, width)
		img(src=require(`../../assets/image/${name}.svg`) title=name alt=name width=width)
mixin imageGIF(name, width)
		img(src=require(`../../assets/image/${name}.gif`) title=name alt=name width=width)